body{
    background: url('background.gif') no-repeat top center fixed;
    background-attachment: fixed;
    background-size: cover;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    border: 10px;
    border-radius: 5px;
    color: blue;
    margin-top: 30px;
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    border: 10px;
    border-radius: 5px;
    color: blue;
    margin-top: 30px;  
}
.btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.5em 1em;
    font-weight: 700;
    border: 10px;
    border-radius: 5px;
    color: blue;
    margin-top: 30px;  
}
a {
    text-decoration: none;
    color: black;
  }

  .btn a{
    color: blue;
  }
.back-to-home{
    margin-top: -15px;
    height: 50px;
    float: left;
    background-color: #333333;
    border: none;
    color: blue;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}